body {
  font-family: Arial, sans-serif;
  background-color: #eaf4ff;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 13px;
  border: 1px solid #000000;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.effect {
  width: 80%;
  padding: 5px;
}

.multiplier {
  width: 80%;
  padding: 5px;
}
.status_form {
  background: #eaf4ff;
  padding: 10px 30px;
  font-size: 20px;
}
form dl dt {
  width: 200px;
  height: 40px;
  padding: 10px 0;
  line-height: 40px;
  float: left;
}
form dl dd {
  padding: 10px 0;
  margin: 0;
}
.box {
  box-sizing: border-box;
  width: 100% !important;
  height: 40px !important;
  margin: 0 !important;
  padding: 0 10px !important;
}
.calc-btn {
  width: 10%;
  height: 35px;
  border: 1px solid #333;
}
.calc-btn:hover {
  cursor: point;
}
.check {
  width: 3% !important;
  height: 15px !important;
}
.siki {
  box-sizing: border-box;
  width: 100% !important;
  height: 100px !important;
  margin: 0 !important;
  padding: 0 10px !important;
}
